<a href="https://colab.research.google.com/github/mehraj1234/winter-22/blob/main/Day_3_assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 4 – Looping

In [ ]:
# Create a list that holds 5 data variables. 

data = ['Elic', 'Tamim', 'Ahmmad', 'Joel', 'Peter']
data

['Elic', 'Tamim', 'Ahmmad', 'Joel', 'Peter']

In [ ]:
# Print out those variables by using a for loop.
for t in data:
  print(t)

Elic
Tamim
Ahmmad
Joel
Peter

In [ ]:
# Modify your for loop to add a message to your for loop.
data = ['Elic', 'Tamim', 'Ahmmad', 'Joel', 'Peter']

for t in data:
  print(t.title() + " one of my fav friend.")

Elic one of my fav friend.
Tamim one of my fav friend.
Ahmmad one of my fav friend.
Joel one of my fav friend.
Peter one of my fav friend.

In [ ]:
# Use a for loop to print even numbers from 1-20.
t = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for r in t:
  if(r%2)==0:
    print("{0} is Even number" .format(r))

2 is Even number
4 is Even number
6 is Even number
8 is Even number
10 is Even number
12 is Even number
14 is Even number
16 is Even number
18 is Even number
20 is Even number

In [ ]:
# Sort your list in alphabetic order.
data

['Elic', 'Tamim', 'Ahmmad', 'Joel', 'Peter']

In [ ]:
sorted(data)

['Ahmmad', 'Elic', 'Joel', 'Peter', 'Tamim']

In [ ]:
# Print out the first three elements of your list.
data = ['Elic', 'Tamim', 'Ahmmad', 'Joel', 'Peter']
print(data[:3])

['Elic', 'Tamim', 'Ahmmad']

In [ ]:
# Create a loop to print the last 2 elements of your list.

data = ['Elic', 'Tamim', 'Ahmmad', 'Joel', 'Peter']

for bb in data[-2:]:
  print(bb)

Joel
Peter

# Lesson: Unit 2 – Python Dictionaries

In [ ]:
# Create a simple dictionary that stores 2 variables, for example: first and last name.
First_name = {'first_name' : 'John'}
Last_name = {'last_name' : 'kimble'}

In [ ]:
# Print out those variables stored in your previous dictionary. 
print(First_name['first_name'])
print(Last_name['last_name'])

John
kimble

In [ ]:
# Add a message to those variables on printing: for example: “Hello, firstname lastname!”

First_name = {'first_name' : 'John'}
Last_name = {'last_name' : 'kimble'}
names = First_name['first_name'] + ' ' + Last_name['last_name']
print("Hello, My name is " + names)

Hello, My name is John kimble

In [ ]:
# Create a dictionary that holds 2 key: value pairs:
# Look through your dictionary and print each pair,
fruites = {'mango': 'five', 'orange': 'six'}
fruites = {'mango' : 'five', 'orange': 'six'}
print(fruites.items())

dict_items([('mango', 'five'), ('orange', 'six')])

In [ ]:
# Create a nested dictionary containing three dictionaries – 
# these dictionaries could be anything (favorite pets, travel locations, etc.)
# Loop through the dictionaries and print a message for each.

coun = {'United States':{'New York' : {'Favorite Place' : 'Empire State'}},
       'Canada' : {'Ottawa' : {'Favorite Place' : 'Ottawa River'}},
       'Germant' : {'Berlin' : {'Favorite Place' : 'Brandenburg Gate'}}}

for h,i in coun.items():
  print(h + ' best city ' + str(i))

United States best city {'New York': {'Favorite Place': 'Empire State'}}
Canada best city {'Ottawa': {'Favorite Place': 'Ottawa River'}}
Germant best city {'Berlin': {'Favorite Place': 'Brandenburg Gate'}}